<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>tpl样式组件库列表</title>
        <%- storage %>
    </head>
    <body>
        <% include header.html %>
        <link rel="stylesheet" type="text/css" href="../lib/page.css"/>
        <template>
            <div id="content-box">
                <div class="page-component">
                    <div class="page-component-content">
                        <div class="homepage-slider">
                            <ul>
                                <li>
                                    <a href="/tplList">样式库</a>
                                </li>
                                <li v-for="item in menuList">
                                    <a href="javascript:void(0)" @click="showTpl(item.id)">{{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="navbar-content">
                                <iframe src="/tplView" class="iframe-box" id="tpl-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <% include footer.html %>
    </body>
</html>