<!Doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <%- storage %>
    </head>
    <body>
        <% include header.html %>
        <template>
            <div class="container" id="content-box">
                <div class="page-component">
                    <div class="page-component__content">
                        <!--<homesliderComponent></homesliderComponent>-->
                        <div class="homepage-slider">
                            <ul>
                                <li>
                                    <a href="/userinfo">我的主页</a>
                                </li>
                                <li class="active">
                                    <a href="/homepage">发布的文章</a>
                                </li>
                                <li>
                                    <a href="http://www.tietuku.com/upload" target="_blank">图片上传</a>
                                </li>
                            </ul>
                        </div>
                        <div style="padding-top:60px">
                            <div class="select-box-group">
                                <span class="label-tip">栏目</span>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{platFormName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li v-for="item in platFormList"><a href="javascript:void(0);" @click="changePlatForm(item)">{{item.name}}</a></li>
                                    </ul>
                                </div>

                                <span v-show="isShowModule" class="label-tip" style="margin-left: 20px;">模块</span>
                                <div v-show="isShowModule" class="dropdown" style="display: inline-block;">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{moduleName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li v-for="item in moduleList"><a @click="changeModule(item)" href="javascript:void(0);">{{item.name}}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <h3>名称：</h3>
                            <div class="form-group">
                                <input type="text" v-model="name" class="form-control" id="name">
                            </div>

                            <h3>描述：</h3>
                            <div class="form-group">
                                <input type="text" v-model="description" class="form-control" id="description">
                            </div>

                            <h3>详情：</h3>
                            <textarea v-model="editor" id="editor" name="content" rows="15"></textarea>

                            <div class="operation-btn-group">
                                <button type="button" @click="save" class="btn btn-save">保存</button>
                                <button type="button" @click="cancel" class="btn btn-cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <% include footer.html %>
    </body>
    <script type="text/javascript" src="lib/bootstrap-markdown.js"></script>
    <script type="text/javascript" src="lib/bootstrap-markdown.zh.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#editor").markdown({language:'zh'})
        });
    </script>
</html>