<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
         <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>tpl样式组件预览</title>
        <%- storage %>
        <link href="lessAction/?param=pages/<%=pageName%><%=minifyDir%>/<%=pageName%>.css&timstamp=<%=timestamp%>" rel="stylesheet"></link>
        <link rel="stylesheet" href="lib/easyvue.css?timstamp=<%=timestamp%>"></link>
    </head>
    <body style="padding-left:20px">
        <div id="name"></div>
        <template>
            <div id="content-box">
                <div v-html="code"></div>
            </div>
        </template>
        <% include footer.html %>
    </body>
</html>