/*公共样式文件*/
/*reset css*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #fafafa;
}
code {
    line-height:28px!important;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ddd;
}

body, ul, ol, h1, h2, h3, h4, h5, h6, p, form, pre {
    margin: 0;
    padding: 0px;
}

html, body {
    font-size: 14px;
    /* color: #333; */
    color: #3F3F5B;
    font-family: 'PingFangSC-Regular', arial, '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', sans-seri;
    font-weight: normal;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

ul, ol {
    list-style-position: inside;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover, a:active {
    text-decoration: none;
    color: #eb4b51;
}

input[type="button"], button {
    cursor: pointer;
}

input, button, textarea {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: inherit;
    resize: none;
    color: #555;
}

input:focus, textarea:focus, a:focus, button:focus {
    outline: 0px;
    text-decoration: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /*WebKit browsers*/
    color: #cccccc;
}

input::-moz-input-placeholder,
textarea::-webkit-input-placeholder { /*Mozilla Firefox*/
    color: #cccccc;
}

input::-ms-input-placeholder,
textarea::-webkit-input-placeholder { /*Internet Explorer*/
    color: #cccccc;
}

input:focus, textarea:focus {
    outline: none;
}

img {
    border: 0px;
    vertical-align: middle;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

article, aside, footer, header, nav, section {
    display: block;
}

.dropdown-menu{
    min-width: auto;
}

.container-fluid{
    height:50px;
}

.navbar{
    margin-bottom: 0;
    border-top: none;
    height:51px;
}

.navbar-brand{
    height:50px;
    font-size: 30px;
    font-weight: bold;
}

.navbar-default .navbar-brand{
    color: #6e6ce8;
}

.navbar-default{
    background: #fff;
    border-color: #eee;
}

.navbar-nav>li>a{
    line-height:20px;
    font-size: 15px;
}

.navbar-nav>li>a.active{
    color: #6e6ce8;
}

.navbar-default .navbar-item > li > a:hover,
.navbar-default .navbar-item > li > a:focus,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
    color: #6e6ce8;
}

.navbar-nav>li>a.login, .navbar-nav>li>a.register{
    padding:0;
    width:70px;
    height:30px;
    line-height:30px;
    margin: 10px 0;
    text-align: center;
    border-radius: 2px;
    font-weight: normal;
}
.navbar-brand>img {
    display: block;
    width: 65px;
    height: 35px;
    margin-top: -5px;
}

#blankPosition.navbar-nav>li>a.login, #blankPosition.navbar-nav>li>a.login:hover{
    margin-right: 10px;
    background-color: #4F8DF6;
    color: #fff;
}

#blankPosition.navbar-nav>li>a.register, #blankPosition.navbar-nav>li>a.register:hover{
    color: #4F8DF6;
    border: 1px solid #4F8DF6;
}

#header #blankPosition{
    width:165px;
    height:80px;
    margin-left: 15px;
}

#content-box{
    min-height: 500px;
}

.validateTip{
    font-size: 12px;
    font-weight: bold;
    color: rgb(255,234,0);
}

div.has-error input.form-control, div.has-error input.form-control:focus{
    border-color: #eb4b51;
}

.g-footer{
    padding:13px 0;
}

.page-component {
    position: relative;
    box-sizing: border-box;
    width: 1140px;
    padding: 0;
    margin: 0 auto;
}

.page-component__content {
    padding-left: 270px;
    padding-bottom: 50px;
    box-sizing: border-box;
}


.homepage-slider {
    width: 220px;
    position: absolute;
    top: 70px;
    left: 0;
    border-right: 1px solid #EAEBFC;
}
.homepage-slider ul {
    width: 200px;
}
.homepage-slider ul li {
    width: 200px;
    margin-bottom: 10px;
}
.homepage-slider>ul>li:first-child {
    margin-top: 0;
}
.homepage-slider>ul>li>a {
    font-size: 14px;
    color: #3F3F5B;
    line-height: 24px;
}
.homepage-slider>ul>li.active {
    border-right: 2px solid #5087FB;
}
.homepage-slider>ul>li:hover {
    border-right: 2px solid #5087FB;
}
.homepage-slider>ul>li.active a {
    color: #5087FB;
}