.homepage-slider {
    width: 220px;
    position: absolute;
    top: 70px;
    left: 0;
    border-right: 1px solid #EAEBFC;
}
.homepage-slider ul {
    width: 220px;
}
.homepage-slider ul li {
    width: 220px;
    margin: 10px 0;
}
.homepage-slider>ul>li:first-child {
    margin-top: 0;
}
.homepage-slider>ul>li>a {
    font-size: 16px;
    color: #3F3F5B;
    line-height: 16px;
}
.homepage-slider>ul>li.active {
    border-right: 2px solid #5087FB;
}
.homepage-slider>ul>li:hover {
    border-right: 2px solid #5087FB;
}
.homepage-slider>ul>li.active a {
    color: #5087FB;
}